.loader {
    animation: l5 1s infinite linear alternate;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-bottom: 0.75rem;
    margin-left: 1.25rem;
    width: 15px;
}

@keyframes l5 {
    0% {
        background: #ececec;
        box-shadow: 20px 0 #ececec, -20px 0 #ececec20;
    }

    33% {
        background: #ececec20;
        box-shadow: 20px 0 #ececec, -20px 0 #ececec20;
    }

    66% {
        background: #ececec20;
        box-shadow: 20px 0 #ececec20, -20px 0 #ececec;
    }

    100% {
        background: #ececec;
        box-shadow: 20px 0 #ececec20, -20px 0 #ececec;
    }
}
