.container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: calc(100vh - 140px);
    margin-top: 1rem;
}

.chat {
    flex-grow: 1;
    overflow-y: scroll;
    width: 100%;
}
