.button {
    align-items: center;
    border-radius: 6.25rem;
    cursor: pointer;
    display: flex;
    font-size: 1rem;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    transition: background-color 0.3s ease;
}

.primary {
    background-color: transparent;
    border: 1px solid #222222;
    color: #222222;
}

.secondary {
    background-color: transparent;
    border: 1px solid #c5c5c5;
    color: #c5c5c5;
}

.danger {
    background-color: #ff2e2e;
    border: none;
    color: #fff;
}
