.inputGroup {
    align-items: stretch;
    display: flex;
    width: 100%;
}

.formControl {
    background-color: transparent;
    border: 1px solid #c5c5c5;
    border-radius: 1.5625rem 0 0 1.5625rem;
    border-right: none;
    flex: 1;
    font-size: 0.875rem;
    outline: none;
    padding: 0.625rem;
    width: 100%;
}

.inputGroupAppend {
    align-items: center;
    background-color: #c5c5c5;
    border: 1px solid #c5c5c5;
    border-left: none;
    border-radius: 0 1.5625rem 1.5625rem 0;
    display: flex;
    padding: 0.3125rem 0.9375rem;
}

.inputGroupText {
    align-items: center;
    display: flex;
    justify-content: center;
}

.inputGroupText img {
    height: 20px;
    width: 20px;
}
